DATABASE_URL="postgresql://asset_forge:password@postgresql:5432/asset_forge"

AUTH_SECRET=generate using `openssl rand -hex 32`

AUTH_APPLE_CLIENT_ID=
AUTH_APPLE_CLIENT_SECRET=
AUTH_APPLE_APP_BUNDLE_IDENTIFIER=

AUTH_DISCORD_CLIENT_ID=
AUTH_DISCORD_CLIENT_SECRET=

AUTH_FACEBOOK_CLIENT_ID=
AUTH_FACEBOOK_CLIENT_SECRET=

AUTH_GITHUB_CLIENT_ID=
AUTH_GITHUB_CLIENT_SECRET=

AUTH_GOOGLE_CLIENT_ID=
AUTH_GOOGLE_CLIENT_SECRET=

AUTH_KEYCLOAK_ID=
AUTH_KEYCLOAK_SECRET=
AUTH_KEYCLOAK_DISCOVERY=

S3_BUCKET=asset-forge
S3_ENDPOINT=minio
S3_PORT=9000
S3_USE_SSL=false
S3_ACCESS_KEY=generate through the minio client or web interface
S3_SECRET_KEY=generate through the minio client or web interface
